extends ../../layout/main
block variables
	- var title = 'Яндекс Практикум. Профиль.';

block scripts 
	link(rel="stylesheet", href="profileChangePassword.scss")
	script(src="profileChangePassword.js")

block content
	.ya-profile
		.ya-profile__back.profile-back
			.profile-back__text
				a(href="./../../pages/profile/profile.pug") 
					img(src="../../../assets/img/arrow_back.svg", alt="")
		.ya-profile__info
			.ya-profile__header.header-profile 
				.header-profile__avatar
					img(src="./../../../assets/img/default_square_image.svg", alt="")
				.header-profile__title.
					
			.ya-profile__user-info.user-info
				+infoField('Старый пароль', '')(class='user-info__field')
					input.info-field__value(type='password' value='Иванов')
				+infoField('Новый пароль', '')(class='user-info__field')
					input.info-field__value(type='password' value='ivanivanov')
				+infoField('Повторите новый пароль', '')(class='user-info__field')
					input.info-field__value(type='password' value='ivanivanov')
			.ya-profile__settings.user-info
				a(href="./../../pages/profile/profile.pug") 
					+btn('Сохранить', true)(class='user-info__field user-info__field_btn')
