extends ../../layout/main
block variables
	- var title = 'Яндекс Практикум. Профиль.';

block scripts 
	link(rel="stylesheet", href="profileChangeUser.scss")
	script(src="profileChangeUser.js")

block content
	.ya-profile
		.ya-profile__back.profile-back
			.profile-back__text
				a(href="./../../pages/profile/profile.pug") 
					img(src="../../../assets/img/arrow_back_.svg", alt="")
		.ya-profile__info
			.ya-profile__header.header-profile 
				.header-profile__avatar
					img(src="./../../../assets/img/default_square_image.svg", alt="")
				.header-profile__title.
					
			.ya-profile__user-info.user-info
				+infoField('Почта', '')(class='user-info__field')
					input.info-field__value.info-field__value_right(value='ivanivanov' name='email' id='email')
				+infoField('Логин', '')(class='user-info__field')
					input.info-field__value.info-field__value_right(value='pochta@yandex.ru' name='login' id='login')
				+infoField('Имя', '')(class='user-info__field')
					input.info-field__value.info-field__value_right(value='Иван' name='first_name' id='first_name')
				+infoField('Фамилия', '')(class='user-info__field')
					input.info-field__value.info-field__value_right(value='Иванов' name='second_name' id='second_name')
				+infoField('Имя в чате', '')(class='user-info__field')
					input.info-field__value.info-field__value_right(value='Иван' name='display_name' id='display_name')
				+infoField('Телефон', '+7 (909) 967 30 30')(class='user-info__field' )
					input.info-field__value.info-field__value_right(value='+7 (909) 967 30 30' name='phone' id='phone')
			.ya-profile__settings.user-info
				a(href="./../../pages/profile/profile.pug") 
					+btn('Сохранить', true)(class='user-info__field user-info__field_btn')

