.chat-panel
	.chat-panel__avatar
		img(src= img, alt="")
	.chat-panel__message
		.chat-panel__title= title
		.chat-panel__text= text
	.chat-panel__info 
		.chat-panel__time= time
		.chat-panel__new-message= newMessage