@import "../../scss/style";

.ya-chat {
	display: flex;
	height: 100%;

	// .ya-chat__left-panel
	&__left-panel {
		max-width: rem(310);
		background: #fbfbfb;
		padding: 22px 10px 0;
	}

	// .ya-chat__right-panel
	&__right-panel {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.left-panel {
	width: 100%;
	height: 100%;
	overflow: hidden;

	// .left-panel__profile
	&__profile {
		margin-bottom: rem(23);
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		text-align: right;
		color: #999;

		img {
			margin-left: 8px;
			vertical-align: middle;
		}
	}

	// .left-panel__search
	&__search {
		width: 100%;
		margin-bottom: rem(14);
		position: relative;

		input {
			background: #efefef;
			border-radius: 5px;
			font-weight: 500;
			font-size: 12px;
			line-height: 12px;
			padding-left: 34px;
		}

		&::before {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			top: 6px;
			left: 10px;
			background: url("./../../assets/img/loupe.svg") 0 0 no-repeat;
		}
	}

	// .left-panel__input
	&__input {
		width: 100%;
		height: rem(32);
	}

	// .left-panel__chat-list
	&__chat-list {
		height: 100%;
		overflow: auto;
		margin: 0 -10px;
		padding: 0 10px;
	}

	// .left-panel__chat
	&__chat {
		margin: 0 -12px;
		padding: 12px;
		border-bottom: 1px solid #eaeaea;
		border-top: 1px solid #eaeaea;

		// .left-panel__chat_active
		&_active {
			background: #e4edfd;
		}
	}
}

.chat-panel {
	display: flex;
	cursor: pointer;

	// .chat-panel__avatar
	&__avatar {
		width: rem(47);
		height: rem(47);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		background: #efefef;
		flex-shrink: 0;
	}

	// .chat-panel__message
	&__message {
		flex: 1 1 auto;
		padding-left: 10px;
		max-width: 203px;
	}

	// .chat-panel__title
	&__title {
		font-weight: 600;
		font-size: 13px;
		line-height: 13px;
		padding-bottom: 4px;
	}

	// .chat-panel__text
	&__text {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #999;
	}

	// .chat-panel__info
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		flex: 1 0 auto;
	}

	// .chat-panel__time
	&__time {
		font-weight: 500;
		font-size: 9px;
		line-height: 13px;
		color: #999;
	}

	// .chat-panel__new-message
	&__new-message {
		width: rem(20);
		height: rem(20);
		background: $themeColor;
		color: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 11px;
		line-height: 12px;
	}
}

.right-panel {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	// .right-panel__header
	&__header {
		width: 100%;
		border-bottom: 1px solid #eaeaea;
	}

	// .right-panel__messages
	&__messages {
		flex: 1 1 auto;
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		color: #999;
	}

	// .right-panel__footer
	&__footer {
		width: 100%;
		border-top: 1px solid #eaeaea;
	}
}

.header-right-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;

	// .header-right-panel__title
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: 13px;
		line-height: 13px;
	}

	// .header-right-panel__avatar
	&__avatar {
		width: rem(34);
		height: rem(34);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		background: #efefef;
		flex-shrink: 0;
		margin-right: 10px;
	}

	// .header-right-panel__settings
	&__settings {
		padding-right: 10px;
	}
}

.footer-right-panel {
	display: flex;
	align-items: center;
	padding-top: 10px;

	// .footer-right-panel__message
	&__message {
		flex: 1 1 auto;
		padding: 0 10px;

		input {
			width: 100%;
			background: #efefef;
			border-radius: 30px;
			font-weight: 500;
			font-size: 12px;
			line-height: 12px;
			padding: 10px 20px;
		}
	}

	// .footer-right-panel__enter
	&__enter {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(28);
		height: rem(28);
		background: $themeColor;
		border-radius: 50%;
		flex-shrink: 0;
	}
}

.messages-chat {
	display: flex;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-bottom: 10px;
	}

	// .messages-chat__data
	&__data {
		text-align: center;
		padding-top: 10px;
		margin-bottom: rem(30);
	}

	// .messages-chat__his-message
	&__his-message {
		align-self: flex-start;
		max-width: 50%;
		margin-bottom: rem(10);
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: $mainColor;
	}

	// .messages-chat__your-message
	&__your-message {
		align-self: flex-end;
		max-width: 50%;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: $mainColor;
	}
}

.his-message {
	background: #f8f8f8;
	border-radius: 0 7px 7px;
	position: relative;
	min-width: 80px;

	// .his-message__container
	&__container {
		position: relative;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	// .his-message__obj
	&__obj {
		&::before {
			content: "";
			position: absolute;
			background: rgb(82 82 82 / 50%);
			border-radius: 30px;
			width: rem(37);
			height: rem(13);
			bottom: 10px;
			right: 10px;
			z-index: 1;
		}
	}

	&__obj:empty {
		display: none;
	}

	// .his-message__text
	&__text {
		padding: 10px 10px 25px;
	}

	&__text:empty {
		display: none;
	}

	// .his-message__info
	&__info {
		position: absolute;
		bottom: 10px;
		right: 10px;
		font-weight: 500;
		font-size: 9px;
		line-height: 9px;

		// color: #999999;
		text-align: right;
		padding: 2px 7px;
		z-index: 2;
		display: flex;
	}

	// .his-message__status

	// .his-message_your
	&_your {
		background: #e4edfd;
		border-radius: 7px 7px 0;

		.his-message__info {
			color: $themeColor;
		}
	}
}
