a(href="#").ya-profile__back.profile-back 
	.profile-back__text 
		img(src="./../../assets/img/arrow_back_.svg", alt="")
.ya-profile__info
	.ya-profile__header.header-profile 
		a(href="#").header-profile__avatar.header-profile__avatar_hover
			img(src="./../../assets/img/default_square_image.svg", alt="")
		.header-profile__title.
		|	!{title}
	.ya-profile__user-info.user-info
		|	!{fields}
	.ya-profile__settings.user-info
		|	!{footer}