.ya-pop-up
	.ya-pop-up__container.ya-pop-up__container_shadow
		.ya-pop-up__item.pop-up-item
			button.pop-up-item__container
				.pop-up-item__img 
					<img src="~/src/assets/img/pop_up_plus_.svg" alt="">
				.pop-up-item__text Добавить пользователя
		.ya-pop-up__item.pop-up-item 
			button.pop-up-item__container
				.pop-up-item__img 
					<img src="~/src/assets/img/pop_up_delete_.svg" alt="">
				.pop-up-item__text Удалить пользователя