extends layout/main
block variables
	- var title = 'Яндекс Практикум. Главная.';

block scripts 
	link(rel="stylesheet", href="../css/style.css")
	//- script(src="../index.js")

block content
	.home
		ul.nav 
			li 
				a(href="./pages/signIn/signIn.pug").nav-Link Вход
			li 
				a(href="./pages/signUp/signUp.pug").nav-Link Регистрация
			li 
				a(href="./pages/chat/chat.pug").nav-Link Чат
			li 
				a(href="./pages/chatActive/chatActive.pug").nav-Link Активный чат
			li 
				a(href="./pages/profile/profile.pug").nav-Link Профиль
			li 
				a(href="./pages/profileChangeUser/profileChangeUser.pug").nav-Link Профиль. Изменение профиля
			li 
				a(href="./pages/profileChangePassword/profileChangePassword.pug").nav-Link Профиль. Изменение пароля
			li 
				a(href="./pages/changeAvatar/changeAvatar.pug").nav-Link Профиль. Изменение аватара(модальное окно)
			li 
				a(href="./pages/error404/error404.pug").nav-Link Ошибка 404
			li 
				a(href="./pages/error500/error500.pug").nav-Link Ошибка 500
			li 
				a(href="./modules/popUpClip/popUpClip.pug").nav-Link Всплывающее окно 1
			li 
				a(href="./modules/popUpUser/popUpUser.pug").nav-Link Всплывающее окно 2
			li 
				a(href="./modules/addUser/addUser.pug").nav-Link Всплывающее окно 3. Добавить пользователя
