.ya-field {
	display: flex;
	flex-direction: column;
	// .ya-field__label
	&__label {
		font-weight: 500;
		font-size: 9px;
		line-height: 9px;
		color: #999999;
		user-select: none;
		order: 1;
	}
	// .ya-field__input
	&__input {
		font-weight: 500;
		font-size: 13px;
		line-height: 13px;
		color: $mainColor;
		padding: 7px 1px;
		border-bottom: 1px solid $themeColor;
		order: 2;
	}
	// .ya-field input
	& input[type="file"] {
		display: none;
	}
	// .ya-field input:focus + label
	& input:focus + label {
		color: $themeColor;
	}
	// .ya-field__error
	&__error {
		font-weight: 400;
		font-size: 8px;
		line-height: 8px;
		color: $red;
		order: 3;
		padding-top: 7px;
		// display: none;
	}
	// .ya-field_file .ya-field__label
	&_file {
		& .ya-field__label {
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			color: $themeColor;
			text-align: center;
			text-decoration-line: underline;
			cursor: pointer;
		}
	}
}

.ya-btn {
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	color: $themeColor;
	text-align: center;
	// padding-top: 14px;
	cursor: pointer;
	user-select: none;
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.7;
	}

	// .ya-btn_main
	&_main {
		background: $themeColor;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		line-height: 13px;
		padding: 12px 0;
		border-radius: 8px;
	}
}
