extends ../../layout/main
block variables
	- var title = 'Яндекс Практикум. Чат.';
	- var testLongText = 'Друзья, у меня для вас особенный выпуск новостей!...'

block scripts 
	link(rel="stylesheet", href="chatActive.scss")
	script(src="chatActive.js")

block content
	.ya-chat 
		.ya-chat__left-panel.left-panel
			.left-panel__profile 
				a(href="./../profile/profile.pug") Профиль
					<img src="./../../../assets/img/arrow_forward.svg" alt="">
			.left-panel__search
				input.left-panel__input(placeholder="Поиск")
			.left-panel__chat-list
				+chatPanel('#','Андрей', 'Изображение', '10:49', '2')(class='left-panel__chat')
				+chatPanel('#','Киноклуб', 'стикер', '12:00', '')(class='left-panel__chat')
				+chatPanel('#','Илья', testLongText, '15:12', '')(class='left-panel__chat')
				+chatPanel('#','Вадим', 'Круто!', 'Пт', '')(class='left-panel__chat left-panel__chat_active')
				+chatPanel('#','тет-а-теты', 'И Human Interface Guidelines и Material Design рекомендуют...', 'Ср', '')(class='left-panel__chat')
				+chatPanel('#','1, 2, 3', 'Миллионы россиян ежедневно проводят десятки часов свое...', 'Пн', '')(class='left-panel__chat')
				+chatPanel('#','Design Destroyer', 'В 2008 году художник Jon Rafman  начал собирать...', 'Пн', '')(class='left-panel__chat')
				+chatPanel('#','Day.', 'Так увлёкся работой по курсу, что совсем забыл его анонсир...', '1 Мая 2020', '')(class='left-panel__chat')
				+chatPanel('#','Стас Рогозин', 'Можно или сегодня или завтра вечером.', '12 Апр 2020', '')(class='left-panel__chat')
		.ya-chat__right-panel.right-panel 
			.right-panel__header.header-right-panel
				.header-right-panel__title 
					.header-right-panel__avatar
					.header-right-panel__name Вадим
				.header-right-panel__settings
					<img src="./../../../assets/img/settings_dots.svg" alt="">
			.right-panel__messages 19 июня
			.right-panel__footer.footer-right-panel
				.footer-right-panel__clip
					<img src="./../../../assets/img/clip.svg" alt="">
				.footer-right-panel__message
					input.footer-right-panel__input(placeholder="Сообщение")
				.footer-right-panel__enter
					img(src="../../../assets/img/arrow_forward_enter.svg", alt="")