@import "../../scss/style";

.error-main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 500;

	&__header {
		margin-bottom: rem(69);
	}

	&__title {
		font-size: rem(40);
		line-height: rem(40);
		margin-bottom: rem(20);
		text-align: center;
	}

	&__info {
		font-size: rem(20);
		line-height: rem(20);
		text-align: center;
	}

	&__link {
		font-size: rem(11);
		line-height: rem(11);
		color: $themeColor;
		text-align: center;
	}
}
