@import "../../scss/style";

.ya-btn {
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	color: $themeColor;
	text-align: center;
	cursor: pointer;
	user-select: none;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.7;
	}

	&_main {
		background: $themeColor;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		line-height: 13px;
		padding: 12px 0;
		border-radius: 8px;
	}

	&_red {
		background: red;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		line-height: 13px;
		padding: 12px 0;
		border-radius: 8px;
	}
}
