@import "../../../scss/style";

.ya-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	// .ya-profile__header
	&__header {
		margin-bottom: rem(60);
	}
	// .ya-profile__back
	&__back {
		height: 100%;
		width: rem(64);
		background: #fbfbfb;
	}
	// .ya-profile__info
	&__info {
		flex: 1 1 auto;
		// display: flex;
	}
	// .ya-profile__user-info
	&__user-info {
	}
	// .ya-profile__settings
	&__settings {
	}
}
.header-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// .header-profile__avatar
	&__avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(130);
		height: rem(130);
		margin-bottom: rem(21);
		background: #efefef;
		border-radius: 50%;
	}
	// .header-profile__title
	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
	}
}
.user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// .user-info__field
	&__field {
		width: rem(510);
		padding: rem(10) 0;
		&:not(:last-child) {
			border-bottom: 1px solid #eaeaea;
		}
		&:last-child {
			margin-bottom: rem(60);
		}
	}
	// .user-info__btn
	&__btn {
		font-size: 13px;
		line-height: 13px;
		&_red {
			color: #ff0000;
		}
	}
}
.info-field {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	// .info-field__name
	&__name {
	}
	// .info-field__value
	&__value {
		color: #999;
	}
}

.settings-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// .settings-profile__
}

.profile-back {
	display: flex;
	justify-content: center;
	align-items: center;
	// .profile-back__text
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(29);
		height: rem(28);
		background: $themeColor;
		border-radius: 50%;
		& a {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
